Xft.dpi: 144
Xcursor.theme: Adwaita
XCussor.size: 24

! special
*.foreground:   #e0e0e0
*.background:   #121212
*.cursorColor:  #e0e0e0

! black
*.color0:       #404040
*.color8:       #404040

! red
*.color1:       #9b4a6b
*.color9:       #9b4a6b

! green
*.color2:       #709090
*.color10:      #709090

! yellow
*.color3:       #c29e80
*.color11:      #c29e80

! blue
*.color4:       #708090
*.color12:      #708090

! magenta
*.color5:       #808080
*.color13:      #808080

! cyan
*.color6:       #c0c0c0
*.color14:      #c0c0c0

! white
*.color7:       #ffffff
*.color15:      #ffffff

