Xft.dpi: 144

! special
*.foreground:   #cfcfcf
*.background:   #121212
*.cursorColor:  #cfcfcf

! black
*.color0:       #404040
*.color8:       #404040

! red
*.color1:       #9b4a6b
*.color9:       #9b4a6b

! green
*.color2:       #536878
*.color10:      #536878

! yellow
*.color3:       #f0a96e
*.color11:      #f0a96e

! blue
*.color4:       #708090
*.color12:      #708090

! magenta
*.color5:       #707070
*.color13:      #707070

! cyan
*.color6:       #b5b5b5
*.color14:      #b5b5b5

! white
*.color7:       #ffffff
*.color15:      #ffffff
